<!DOCTYPE html>
<html ng-app="jafApp">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>Notes</title>
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

  <link rel="stylesheet" href="/design3//css/main.css">
  <link rel="canonical" href="http://feeney-.github.io//design3//notes/">
  <link rel="alternate" type="application/atom+xml" title="Design III" href="http://feeney-.github.io//design3//feed.xml" />

      <!-- Angular.JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>

	<!-- jQuery (just for Bootstrap) -->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	

    <!-- Custom CSS -->    
    <link rel="stylesheet" href="/design3//css/all.css">

	<!-- Firebase -->
	 <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
	
	<!-- Firebase simple login -->
	<script src="https://cdn.firebase.com/js/simple-login/1.6.3/firebase-simple-login.js"></script>	

	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>

	<!-- Angular controllers -->
	<script src="/design3//js/common.js"></script>
</head>



  <body>
 <div id="data-firebase-url" data-firebase-url="https://dazzling-torch-4482.firebaseio.com/" />
    <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="/design3//">Design III</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        
          
          <a class="page-link" href="/design3//notes/">Notes</a>
          
        
          
          <a class="page-link" href="/design3//about/">About</a>
          
        
          
        
          
        
          
        
          
          <a class="page-link" href="/design3//people/">People</a>
          
        
         <ul class="nav navbar-nav navbar-right" ng-controller="authController">
        <li><a href="#">[[{ user.email }]]</a></li>
        <li><a href="" ng-click="login()" ng-show="!user.email">Log in</a></li>
        <li><a href="" ng-click="logout()" ng-show="user.email">Log out</a></li>
      </ul>
      </div>
    </nav>

  </div>

</header>



    <div class="page-content">
      <div class="wrapper">
        <script src="/design3//js/notes.js"></script>

<div class="home" ng-controller="notesController">

  <h3>Notes ([[{ notes.length }]])</h3>

  	<div>
	  <div class="note" ng-repeat="note in notes">
	  	[[{ note.text }]]
	  	<div ng-show="user.email" class="removeNote glyphicon glyphicon-remove" ng-click="removeNote(note.id)"></div>
	  </div>

	  <div class="note new-note" ng-show="user.email">
	  	<textarea class="new-note-textarea" type="text" placeholder="new note" ng-model="newNote"></textarea>
	  	<button class="btn btn-primary" ng-click="addNote()">Add</button>
	  </div>
	</div>
</div>

      </div>
    </div>

    <footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Design III</h2>

    <script src="/design3//js/notes.js"></script>

<div class="home" ng-controller="notesController">

  <h3>Notes ([[{ notes.length }]])</h3>

    <div>
    <div class="note" ng-repeat="note in notes">
      [[{ note.text }]]
      <div ng-show="user.email" class="removeNote glyphicon glyphicon-remove" ng-click="removeNote(note.id)"></div>
    </div>

    <div class="note new-note" ng-show="user.email">
      <textarea class="new-note-textarea" type="text" placeholder="new note" ng-model="newNote"></textarea>
      <button class="btn btn-primary" ng-click="addNote()">Add</button>
    </div>
  </div>
</div>

  </div>

</footer>


  </body>

</html>


